body{
  background-color: hsl(233, 47%, 7%);
}
table{
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  margin-top: 10%;
  color: #fff;
  background-color: hsl(244, 38%, 16%);
  border-radius: 10px;
}
td{
  max-width: 600px;
}
.fw700{
  font-weight: 700;
}
img{
  border-radius: 0 10px 10px 0;
}
span{
  color: hsl(277, 64%, 61%);
}
p{
  margin-top: 7%;
  color: hsla(0, 0%, 100%, 0.75);
}
.colorOverlay{
  background: rgba(168, 88, 218, 0.50);
  z-index: 2;
  width: 540px;
  height: 446px;
  border-radius: 0 10px 10px 0;
  position: absolute;
}
.statBlock{
  margin-top: 12%;
  float: left;
}
.mRight{
  margin-right: 15%;
}
.statName{
  font-family: 'Lexend Deca', sans-serif;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
}
.textContent{
  padding: 6.5% 10% 0 5%;
  vertical-align: top;
}







/*EXTRA*/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
